{% extends 'base.html' %}

{% block content %}
    <div class=""post-entry>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <hr>
        <p><a href="{% url 'add_comment_to_post' pk=post.id %}">Add comment</a></p>
{% for comment in post.comments.all %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
    <p><a href="{% url 'add_comment_to_post' pk=post.id %}">Add one</a></p>
{% endfor %}
    </div>
<a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
<a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a>
{% endblock content %}